@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: kanit,sans-serif;
}

.table{
  @apply border-collapse rounded-xl overflow-hidden w-full;
}

.table thead {
  @apply bg-zinc-800 text-zinc-300;
}

.table thead th {
  @apply px-2 md:px-4 md:py-3 text-[10px] md:text-base;
}

.table tbody{
  @apply divide-y divide-zinc-800 bg-zinc-900;
}

.table tbody tr {
  @apply hover:bg-zinc-600 bg-zinc-700;
}

.table tbody td {
  @apply px-1 py-2 md:px-4 md:py-3 text-[10px] md:text-base;
}

.btn-add{
  @apply px-4 py-1 md:py-2 text-[15px] md:text-base rounded-3xl bg-blue-600 hover:bg-blue-500 text-white cursor-pointer
}

.btn-edit{
  @apply text-[15px] md:text-base px-1 md:px-3 md:py-1.5 bg-emerald-600 hover:bg-emerald-500 text-white rounded-3xl cursor-pointer
}

.btn-delete{
  @apply text-[15px] md:text-base px-1 md:px-3 md:py-1.5 bg-red-600 hover:bg-red-500 text-white rounded-3xl cursor-pointer
}
